.accessories-section {
  padding: 50px 0;
  background-color: #fff0f5;
}

.accessories-section .section-title {
  text-align: center;
  margin-bottom: 30px;
}

/* Адаптивность */
@media (max-width: 768px) {
  .accessories-section {
    padding: 30px 0;
  }
}